{
  "rules": {
    "max-len": [
      2,
      120,
      4
    ],
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "space-before-function-paren": [
      2,
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "no-use-before-define": [
      2,
      "nofunc"
    ],
    "comma-dangle": [
      2,
      {
        "objects": "always",
      }
    ],
    "no-underscore-dangle": [
      2,
      {
        "allowAfterThis": true
      }
    ],
    "class-methods-use-this": [
      0
    ]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ]
}
