//CONSTANTS --------------------------------------------------------------------
$white-color: #fff;
$borders-and-block-color: #9D8C7A; // dark brown color
$font-hover-color: #EEE9ED; //light color
//------------------------------------------------------------------------------


//GLOBAL variables -------------------------------------------------------------
$wrapper-width: 1400px;
$font-global-size: 10px;
$font-global-color: #5C5249;
$font-global-family: 'Sarala', sans-serif;
$background-global-color: #E7DFD2;
$transition-global-time: 0.5s;
$border-global-radius: 3px;
//------------------------------------------------------------------------------


//HEADER variables -------------------------------------------------------------
$header-nav-hight: 50px;
//------------------------------------------------------------------------------

//Footer variables -------------------------------------------------------------
$footer-hight: 50px;
//------------------------------------------------------------------------------
